.card-style {
    border-radius: 30px;
}

.flashes h4 {
    line-height: 2;
}

img.img-fluid.rounded-start {
    margin: 5px 0 5px 0;
}

.input-group {
    position: relative;
    width: 100%;
}

.card-spacing {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.autocomplete-suggestions {
    border: 1px solid #dee2e6;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #f8f9fa;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
}

.autocomplete-suggestion {
    padding: 8px;
    color: #495057;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: #e9ecef;
    color: #212529;
}


/*------------ Media*/

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .offcanvas .offcanvas-body {
        justify-content: flex-end;
    }
    
}