body {
    background-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

a.navbar-brand {
    color: #fafafa;
}

.navbar {
    --bs-navbar-color: #fafafa;
    --bs-navbar-hover-color: #ff0000;
    --bs-navbar-brand-hover-color: #ff0000;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #000000 !important;
    --bs-body-color: #fafafa;
    margin-right: .25rem;
    height: 100%;
    border-radius: 15px;
}

.bg-dark {
    background-color: #1c1c1c !important;
}

h2.text-center {
    color: #fafafa;
    margin: 1rem 0 1rem 0;
}

h3.text-center {
    color: #fafafa;
    margin: 1rem 0 1rem 0;
}

.form-styling {
    display: flex;
    justify-content: center;
}

.movie-text {
    color: #fafafa;
}

.label-color{
    color: #fafafa;
}

.login-signup-button {
    margin-top: 1rem;
}

.card-styling {
    border-style: solid;
    border-color: #ffffff;
    border-width: thin;
    background-color: #06060696;
    color: #fafafa;
}

.posted-by-styling {
    position: absolute;
    bottom: 1vh;
}

.search-style {
    border-radius: 30px;
    border-style: solid;
    border-color: #fafafa;
    margin: 0 auto;
    display: block;
    width: 85%;
    margin-bottom: 1rem;
}

.login-signup-styling {
    background-color: #000000;
    border-style: solid;
    border-color: #fafafa;
    text-align: center;
    color: #fafafa;
    border-radius: 2vw;
}

#username, #password {
    border-radius: 25px;
}

.flashes h4 {
    line-height: 2;
}

img.img-fluid.rounded-start {
    margin: 5px 0 5px 0;
}

.input-group {
    position: relative;
    width: 100%;
}

.card-spacing {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.autocomplete-suggestions {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #f8f9fa;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
}

.autocomplete-suggestion {
    padding: 8px;
    color: #495057;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #e9ecef;
    color: #212529;
}

.carousel-item img {
    width: 50% !important;
    margin: 0 auto; /* Center the image horizontally */
  }

.save-update-button {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #c7c7c7;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #c7c7c7;
    --bs-btn-hover-border-color: #c7c7c7;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c7c7c7;
    --bs-btn-active-border-color: #c7c7c7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c7c7c7;
    --bs-btn-disabled-border-color: #c7c7c7;
  }

.delete-button {
    --bs-btn-color: #fafafa;
    --bs-btn-bg: #ff0000;
    --bs-btn-border-color: #ff0000;
    --bs-btn-hover-color: #fafafa;
    --bs-btn-hover-bg: #cb0000;
    --bs-btn-hover-border-color: #cb0000;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cb0000;
    --bs-btn-active-border-color: #cb0000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #cb0000;
    --bs-btn-disabled-border-color: #cb0000;
}

.info-footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

input#query\ review-search-button {
    flex: 1;
    border-radius: 10px;
}

.search-style-bg {
    background-color: #06060696;
}

.review-style-bg {
    background-color: #06060600;
}

.review-card{
    margin-bottom: 1rem;
}

.search-button {
    --bs-btn-color: #fafafa;
    --bs-btn-bg: #00000080;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fafafa;
    --bs-btn-hover-bg: #272727;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fafafa;
    --bs-btn-active-border-color: #fafafa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fafafa;
    --bs-btn-disabled-border-color: #fafafa;
}




/*------------ Media*/

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .offcanvas .offcanvas-body {
        justify-content: flex-end;
    }
    
}