{% extends "base.html" %}
{% block content %}


    <h3 class="text-center">Search MovieMeter</h3>

    <div class="row card card-body bg-light card-style">
        <form action="{{ url_for('search') }}" method="post" class="col-12">
            <div class="row align-items-center justify-content-center text-center">
                <div class="form-group col-12 col-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input type="text" name="query" id="query" minlength="2" class="form-control" required placeholder="Search">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <button type="submit" class="btn btn-success text-shadow">
                        <i class="fas fa-search"></i> Search
                    </button>
                    <a href="{{ url_for('search') }}" class="btn btn-danger text-shadow">Reset</a>
                </div>
            </div>
        </form>
    </div>

    {% for movie in movies %}
        <li class="align-items-center justify-content-center text-center">
            <h3>Title: {{ movie.Title }}</h3><br>
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }} poster" width="200"><br>
            <strong>Actors: </strong>{{ movie.Actors }}<br>
            <strong>Director: </strong>{{ movie.Director }}<br>
            <strong>Genre: </strong>{{ movie.Genre }}<br>
            <strong>Rated: </strong>{{ movie.Rated }}<br>
            <strong>Released: </strong>{{ movie.Released }}<br>
            <strong>Runtime: </strong>{{ movie.Runtime }}<br>
            <strong>Year: </strong>{{ movie.Year }}<br>
        </li>
    {% endfor %}

{% endblock %}