{% extends "base.html" %}
{% block content %}

    
    <div class="card profile-card-styling card-profile-sizing name-spacing mx-auto m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6 profile-cards uppercase">
                        <h2>{{ username }}'s Profile</h2>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card profile-card-styling card-profile-sizing mx-auto m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6 profile-cards uppercase">
                        Want to manage your review?
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('manage_reviews')}}" class="btn save-update-button">Manage Reviews</a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card profile-card-styling card-profile-sizing mx-auto m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6 profile-cards uppercase">
                        Want to make a review?
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('add_review')}}" class="btn save-update-button">Add Review</a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card profile-card-styling card-profile-sizing mx-auto m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6 profile-cards uppercase">
                        Check all reviews out!
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('reviews')}}" class="btn save-update-button">See Reviews</a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}