{% extends "base.html" %}
{% block content %}

    
    <div class="row justify-content-center mx-auto p-2">
        <div class="col-12 col-md-8">
            <div class="card card-body text-bg-dark">
                <h3 class="text-center">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>


    <div class="card text-bg-dark mx-auto p-2 m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        2 of 3 (wider)
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-bg-dark mx-auto p-2 m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        2 of 3 (wider)
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-bg-dark mx-auto p-2 m-2">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        2 of 3 (wider)
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}