{% extends "base.html" %}
{% block content %}

    <h3 class="text-center">Register to Review</h3>

    <div class="row justify-content-center">
        <form class="col-12 col-md-8" method="POST" action="{{ url_for('signup') }}">
            <div class="card card-body login-signup-styling">
                <!-- Username Input Field -->
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light">
                                <i class="fas fa-user-plus"></i>
                            </span>
                        </div>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                    </div>
                </div>
                <!-- Password Input Field -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light">
                                <i class="fas fa-user-lock"></i>
                            </span>
                        </div>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-block login-signup-button" type="submit">Submit
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="text-center login-signup-color">
                Already Registered?
                <a href="{{ url_for('login') }}" class="text-primary">Log in here!</a>
            </p>
        </div>
    </div>


{% endblock %}